body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../assets/background.svg');
    background-size: cover;
}

.page-wrapper {
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header {
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 4vw;
    box-sizing: border-box;
}

.header .logo {
    height: 70%;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}

.landing .title {
    font-size: 15rem;
    letter-spacing: 4rem;
    line-height: 1;
    font-family: 'Teko', sans-serif;
    transform: translateX(1.5rem);
}

.landing .theme {
    font-size: 3.5rem;
    letter-spacing: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}

.landing .register-button {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.6rem;
    margin-top: 10vh;
    display: inline-block;
    position: relative;
}

.landing .register-button > div {
    background: transparent linear-gradient(248deg, #2A9CE852 0%, #006CFF6B 83%, #5914FF82 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #ffffff;
    padding: 16px 40px;
    margin: 6px;
    cursor: pointer;
}

.landing .register-button span{
    display: block;
}

.landing .register-button::before, .landing .register-button::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}
  
.landing .register-button span::before, .landing .register-button span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
}

.landing .register-button:hover::before, .landing .register-button:hover::after{
    width: 100%;
}

.landing .register-button:hover span::before, .landing .register-button:hover span::after{
    height: 100%;
}

.landing .register-button::before, .landing .register-button::after{
    transition-delay: 0s;
}

.landing .register-button span::before, .landing .register-button span::after{
    transition-delay: 0.2s;
}

.landing .register-button::before{
    right: 0;
    top: 0;
}

.landing .register-button::after{
    left: 0;
    bottom: 0;
}

.landing .register-button span::before{
    left: 0;
    top: 0;
}

.landing .register-button span::after{
    right: 0;
    bottom: 0;
}

.landing .register-button:hover::before, .landing .register-button:hover::after{
    transition-delay: 0.2s;
}

.landing .register-button:hover span::before, .landing .register-button:hover span::after{
    transition-delay: 0s;
}  

.footer {
    height: 10%;
    font-size: 2.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 4vw;
    box-sizing: border-box;
}

.footer .countdown {
    font-weight: bold;
    font-family: 'Teko', sans-serif;
}

.footer .social i {
    margin: 0 8px;
    color: #ffffff;
    transition: 0.25s;
}

.footer .social a:hover i {
    color: hsla(180, 100%, 50%, 1);
}

.background-animation {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -47.5%) scale(3.5);
}

.glitch:before, .glitch:after {
    display: block;
    content: 'APOGEE';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
}

.glitch:after {
    color: #f0f;
    text-shadow: 2px 2px black;
    z-index: -2;
    animation: glitch-left-2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

.glitch:before {
    color: #0ff;
    z-index: -1;
    animation: glitch-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}


@keyframes glitch-left {
    0% {
        transform: translate(0);
    }
    33% {
        transform: translate(-5px, 3px);
    }
    66% {
        transform: translate(5px, -3px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes glitch-left-2 {
    0% {
        transform: translate(0);
    }
    33% {
        transform: translate(-5px, -3px);
    }
    66% {
        transform: translate(5px, 3px);
    }
    to {
        transform: translate(0);
    }
  }